* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Comfortaa', cursive;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

a {
	color: rgb(98, 155, 205);
	font-weight: bold;
	text-decoration: none;
}

p {
	margin: 10px 0;
}

form {
	display: flex;
	flex-direction: column;
	width: 400px;
}

input {
	font-family: inherit;
	margin: 10px 0;
	padding: 10px;
	border: unset;
	border-bottom: 2px solid #e3e3e3;
	outline: none;
}

button {
	font-family: inherit;
	padding: 10px;
	background-color: #e3e3e3;
	border: unset;
	cursor: pointer;
}

.msg {
	border: 2px solid #eb8b50;
	border-radius: 3px;
	padding: 10px;
	text-align: center;
	font-weight: bold;
}